@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=JetBrains+Mono:wght@300;400;500;700&family=Inter:wght@350;450;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-serif: "Playfair Display", Georgia, serif;
}

body {
  background-color: #050505;
  color: #F5F5F5;
  font-family: var(--font-sans);
}

/* Custom modern scrollbar for an elite luxury aesthetic */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #1C1C1C;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #C5A059;
}

/* Editorial aesthetic custom text outline utility */
.text-outline {
  -webkit-text-stroke: 1px #F5F5F5;
  color: transparent;
}

